*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f7fb;
}

.dashboard{
    width:95%;
    max-width:1400px;
    margin:30px auto;
}

.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.topbar h1{
    color:#222;
    font-size:40px;
}

.topbar button{
    background:#e53935;
    color:#fff;
    border:none;
    padding:10px 20px;
    border-radius:6px;
    cursor:pointer;
}

.topbar button:hover{
    background:#c62828;
}

.lead-form{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:15px;
    background:#fff;
    padding:20px;
    border-radius:10px;
    box-shadow:0 2px 10px rgba(0,0,0,.1);
    margin-bottom:20px;
}

.lead-form input{
    padding:12px;
    border:1px solid #ccc;
    border-radius:6px;
    outline:none;
}

.lead-form input:focus{
    border-color:#1976d2;
}

.lead-form button{
    background:#1976d2;
    color:#fff;
    border:none;
    border-radius:6px;
    cursor:pointer;
}

.lead-form button:hover{
    background:#1259a7;
}

.search{
    width:100%;
    padding:12px;
    margin:20px 0;
    border:1px solid #ccc;
    border-radius:6px;
}

h3{
    margin:20px 0;
    color:#333;
    text-align:center;
}

/* ===== TABLE ===== */

table{
    width:100%;
    table-layout:fixed;
    border-collapse:collapse;
    background:#fff;
    box-shadow:0 2px 10px rgba(0,0,0,.1);
}

thead{
    background:#1976d2;
    color:#fff;
}

th,
td{
    width:20%;
    padding:18px;
    text-align:center;
    border-bottom:1px solid #ddd;
}

th{
    font-size:18px;
}

td{
    font-size:16px;
    word-break:break-word;
}

tbody tr:hover{
    background:#f5f5f5;
}

select{
    width:90%;
    padding:8px;
    border:1px solid #ccc;
    border-radius:5px;
}

@media(max-width:768px){

    .dashboard{
        width:95%;
    }

    .topbar{
        flex-direction:column;
        gap:15px;
        align-items:flex-start;
    }

    .lead-form{
        grid-template-columns:1fr;
    }

    table{
        display:block;
        overflow-x:auto;
        white-space:nowrap;
    }

    th,
    td{
        width:auto;
    }
}